body {
  /* font-family: 'Nunito Sans' !important; */
  color: #5c5c5c !important;
  background-color: rgb(244, 244, 244) !important;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 1.5;
}

.container-main {
  background-color: white;
}

nav {
  background-color: white;
  border-bottom: 1px solid rgb(176, 176, 176);
}

.nav-item,
.dropdown-item {
  text-align: right !important;
}

.ba-nav-btn {
  text-decoration: none !important;
}

.footer-container {
  font-size: .9rem;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 50.25%;
  /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.iframe-container>* {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.yelp-container {
  margin-right: 7px;
}

.yelp-button {
  margin-left: 15px;
  margin-top: 5px;
  width: 40px;
}

.twitter-button {
  margin-top: 5px;
  width: 40px;
}

.model-title-hello {
  padding-top: 50px;
  font-size: 55px;
}

.ready-take {
  padding-bottom: 20px;
}

.btn-no-tks-desktop {
  padding-bottom: 50px;
}

.mobile-no-tks {
  padding-top: 20px;
  font-size: 70%;
}

.btn-registration {
  width: 100% !important;
}

.container {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 20px;
}

.parking-iframe-container {
  height: 480px;
}

.career-cta {
  background-color: #a088c7;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 20px;
  padding: 8px;
  cursor: pointer;
}

.btn-career:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-career {
  background-color: #a088c7;
  border-color: #a088c7;
  font-size: 25px;
  color: white;
  font-weight: normal;
  padding: 10px 32px;
  transition: ease 0.2s all;
  margin-top: 12px;
  border-radius: 5px;
  width: 100%;
  margin: 20px;
}

.btn-career:hover {
  background: #9074be;
  border-color: #9074be;
  transition: ease 0.2s all;
}

.btn-career:not(:disabled):not(.disabled).active,
.btn-career:not(:disabled):not(.disabled):active {
  background: #a088c7;
  border-color: #a088c7;
  transition: ease 0.2s all;
}

.pricing-container {
  padding-bottom: 30px;
}

.price-card {
  margin-bottom: 0 !important;
}

.top-hiring-button {
  background-color: #ff5050;
  color: white !important;
  border-color: #ff5050;
  font-size: 25px;
  color: white;
  font-weight: normal;
  transition: ease 0.2s all;
  border-radius: 5px;
}

.top-hiring-button:hover {
  background: #ff6666;
  border-color: #ff6666;
  transition: ease 0.2s all;
}

.top-hiring-buttonr:not(:disabled):not(.disabled).active,
.top-hiring-button:not(:disabled):not(.disabled):active {
  background: #ff6666;
  border-color: #ff6666;
  transition: ease 0.2s all;
}

.et_pb_dollar_sign {
  position: absolute;
  margin-left: -.5em;
  font-size: 18px;
  font-weight: 400;
}

.pricing-list {
  text-align: left;
  line-height: 2em;
}

.btn-blue {
  background-color: #69b5b0;
  border-color: #94ceca;
  font-size: 21px;
  color: white;
  font-weight: normal;
  padding: 10px 32px;
  transition: ease 0.2s all;
  margin-top: 12px;
  border-radius: 5px;
}

.btn-blue:hover {
  background-color: #57a99a;
  border-color: #57a99a;
  transition: ease 0.2s all;
}

.btn-blue:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-blue:not(:disabled):not(.disabled).active,
.btn-blue:not(:disabled):not(.disabled):active {
  background-color: #57a99a;
  border-color: #57a99a;
  transition: ease 0.2s all;
}


.booking-btn:not(:disabled):not(.disabled).active,
.booking-btn:not(:disabled):not(.disabled):active {
  background-color: white;
  border-color: #57a99a;
  color: #94ceca;
  transition: ease 0.2s all;
  outline: 0 !important;
}



/* .jumbotron-heading {
  color: white !important;
}

.jumbo-bg-color {
  background-color: #94ceca !important;
} */

/* .jumbotron {
  background-image: url("img/bg2022_blcoks.png") !important;
  background-size: cover;
} */

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-btn {
  background-color: transparent;
  color: #94ceca;
  border-color: #94ceca;
  border-width: 0.1em;
}

.register-btn:hover {
  background-color: #94ceca;
  border-color: #94ceca;
  color: white;
  transition: ease 0.2s all;
}

.register-btn:not(:disabled):not(.disabled).active,
.register-btn:not(:disabled):not(.disabled):active {
  background-color: #94ceca;
  border-color: #94ceca;
  color: white;
  transition: ease 0.2s all;
}

.card-footer-custom {
  background-color: white;
  border-top: 0;
  padding-bottom: 1.5em;
}

.card-header-bg {
  background-color: transparent !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.cd-faq__trigger,
.cd-faq__category-selected,
.cd-faq__category:hover {
  color: #57a99a !important;
}

.cd-faq__category-selected::before {
  background-color: #57a99a !important;
}

.cd-faq__trigger::before,
::after {
  background-color: #57a99a !important;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}

.dropdown-toggle::after {
  background: none !important;
}

.announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #fcfbfb; */
  padding-left: 33px;
  padding-right: 33px;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.webapp-promoting-top {
  height: 80px !important;
  width: 80px !important;
  position: relative;
  left: 49.6%;
  margin-bottom: -20px;
}

.webapp-promoting-bottom {
  height: 80px !important;
  width: 80px !important;
  position: relative;
  right: 49.6%;
  bottom: 100%;
  transform: rotate(180deg);
  margin-top: -80px;
}

.btn-top {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.btn-top:hover {
  background-color: white;
  color: black;
  font-weight: 700px;
}

.btn-jumbo-section {
  background-color: rgb(43, 43, 43);
  color: white;
  margin-top: 10px;
  border-radius: 30px !important;
}

.btn-jumbo-section:hover {
  background-color: rgb(57, 57, 57);
  color: white !important;
  font-weight: 700px;
}

.bacls-website-img {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bacls-bg {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  z-index: -1;
  width: 50%;
  transform: rotate(-25deg);
}

.bacls-bg img {
  width: 100%;
  opacity: .8;
}

.announcement-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  /* background: #fcfbfb; */
  padding-left: 33px;
  padding-right: 33px;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.most_popular {
  position: absolute;
  right: -24px;
  top: -24px;

}

.most_popular img {
  width: 70px;
  transform: rotate(17deg);
}


.winter-sale-image-container {
  position: relative; /* set container to a relative position */
  width: 500px; /* set your desired width */
  height: 500px; /* set your desired height */
}

.winter-sale-btn {
  position: absolute; /* set button to an absolute position */
  top: 50%; /* adjust the top position of the button */
  left: 50%; /* adjust the left position of the button */
  transform: translate(-50%, -50%); /* center the button */
  z-index: 2; /* set a higher z-index than the image */
  background-color: #007bff; /* set your desired background color */
  color: #fff; /* set your desired text color */
  border: none; /* remove button border */
  padding: 10px 20px; /* set your desired padding */
  cursor: pointer; /* change mouse cursor on hover */
}


@media only screen and (max-device-width: 480px) {
  .announcement {
    display: none;
    flex-direction: column;
    align-items: center;
    /* background: #fcfbfb; */
    padding-left: 33px;
    padding-right: 33px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 25px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  .announcement-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #fcfbfb; */
    padding-left: 33px;
    padding-right: 33px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 25px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  .webapp-promoting-top {
    height: 80px !important;
    width: 80px !important;
    position: relative;
    left: 47.6%;
    margin-bottom: -35px;
  }

  .webapp-promoting-bottom {
    height: 80px !important;
    width: 80px !important;
    position: relative;
    right: 47.6%;
    bottom: 100%;
    transform: rotate(180deg);
    margin-top: -50px;
  }

  .most_popular {
    position: absolute;
    right: -24px;
    top: -24px;

  }

  .most_popular img {
    width: 50px;
    transform: rotate(17deg);
  }

  .pricing-mobile-padding {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }
}

.ama-link {
  display: flex;
  flex-wrap: wrap;

}

.recommend-section {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 30px;
}

.demo {
  background: rgb(233, 236, 239);
  padding-top: 20px;
}

.testimonial {
  background: #fff;
  padding: 20px;
  margin: 0 15px 10px 15px;
  position: relative;
}

.testimonial:before {
  content: "";
  width: 100%;
  height: 100%;
  /* background: #0d8a63; */
  background: darkgray;
  position: absolute;
  top: 4%;
  left: 2%;
  opacity: 0.5;
  z-index: -1;
}

.testimonial .title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  margin-top: 0;
}

.testimonial .description {
  font-size: 14px;
  color: #555;
  line-height: 30px;
}

.testimonial .testimonial-content {
  position: relative;
}

.testimonial .testimonial-content:after {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 45px;
  color: #a8a8a8;
  background-color: transparent !important;
}

.testimonial .pic {
  display: inline-block;
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}

.testimonial .pic img {
  width: 100%;
  height: auto;
}

.testimonial .content {
  display: inline-block;
  margin: 10px 0;
}

.testimonial .name {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
}

.testimonial .post {
  font-size: 14px;
  color: #555;
  line-height: 24px;
}

.testimonial .rating {
  padding: 0;
  margin: 0;
  list-style: none;
}

.testimonial .rating li {
  display: inline-block;
  color: #ffc207;
}

.owl-theme .owl-controls {
  margin-top: 20px;
}

.owl-theme .owl-controls .owl-page span {
  background: #0d8a63;
}

@media only screen and (max-width: 479px) {
  .testimonial .testimonial-content:after {
    content: "";
  }
}