body {
  /* font-family: 'Nunito Sans' !important; */
  color: #5c5c5c !important;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 1.5;
}

.footer-container {
  font-size: .9rem;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 50.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.yelp-container {
  margin-right: 7px;
}

.yelp-button{
  margin-left: 15px;
  margin-top: 5px;
  width: 40px;
}

.twitter-button{
  margin-top: 5px;
  width: 40px;
}

.model-title-hello {
  padding-top: 50px;
  font-size: 55px;
}
.ready-take {
  padding-bottom: 20px;
}

.btn-no-tks-desktop {
  padding-bottom: 50px;
}

.mobile-no-tks{
  padding-top: 20px;
  font-size: 70%;
}

.most-popular {
  background-color: #f99245;
  color: white;
}

.btn-orange {
  background-color: #f77e23;
  border-color: #f77e23;
  font-size: 26px;
  color: white;
  font-weight: normal;
  padding: 10px 32px;
  transition: ease 0.2s all;
  margin-top: 12px;
  border-radius: 5px;
}

.btn-orange:hover {
    background: #f99245;
    border-color: #f99245;
    transition: ease 0.2s all;
}

.btn-orange:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-orange:not(:disabled):not(.disabled).active, .btn-orange:not(:disabled):not(.disabled):active{
  background: #f9ac70;
  border-color: #f9ac70;
  transition: ease 0.2s all;
}

.free_to_book_img{
  width: 150px;
  margin-top: 20px;
  margin-bottom: -90px;

}

.container{
  padding-left: 33px;
  padding-right: 33px;
}

.parking-iframe-container {
  height: 480px;
}

.career-cta {
  background-color: #ff5050;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 20px;
  padding: 8px;
  cursor: pointer;
}

.btn-career:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-career {
  background-color: #ff5050;
  border-color: #ff5050;
  font-size: 25px;
  color: white;
  font-weight: normal;
  padding: 10px 32px;
   transition: ease 0.2s all;
   margin-top: 12px;
   border-radius: 5px;
   width: 100%;
   margin: 20px;
}

.btn-career:hover {
    background: #ff6666;
    border-color: #ff6666;
    transition: ease 0.2s all;
}

.btn-career:not(:disabled):not(.disabled).active, .btn-career:not(:disabled):not(.disabled):active{
  background: #ff6666;
  border-color: #ff6666;
  transition: ease 0.2s all;
}

.pricing-container {
  background-color:#f5f5f5;
  padding-bottom: 30px;
}

.price-card {
  margin-bottom: 0 !important;
}

.top-hiring-button {
  background-color: #ff5050;
  color: white !important;
  border-color: #ff5050;
  font-size: 25px;
  color: white;
  font-weight: normal;
  transition: ease 0.2s all;
  border-radius: 5px;
}

.top-hiring-button:hover {
  background: #ff6666;
  border-color: #ff6666;
  transition: ease 0.2s all;
}

.top-hiring-buttonr:not(:disabled):not(.disabled).active, .top-hiring-button:not(:disabled):not(.disabled):active{
background: #ff6666;
border-color: #ff6666;
transition: ease 0.2s all;
}
