.footer-container {
  font-size: .9rem;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 50.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.yelp-container {
  margin-right: 7px;
}

.yelp-button{
  margin-left: 15px;
  margin-top: 5px;
  width: 40px;
}

.twitter-button{
  margin-top: 5px;
  width: 40px;
}

.model-title-hello {
  padding-top: 50px;
  font-size: 50px;
}
.ready-take {
  padding-bottom: 20px;
}

.btn-no-tks-desktop {
  padding-bottom: 50px;
}

.mobile-no-tks{
  padding-top: 20px;
  font-size: 70%;
}

.most-popular {
  background-color: #f9614a;
  color: white;
}
